html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

#bottom-header {
  background-color: #f8f8f8;
}

#btn-header {
  border: 3px solid #ec5242;
  color: #ec5242;
  padding: 4px 8px;
}

#item-about {
  color: #ec5242;
}

#welcome-section {
  background: #f8f8f8 url('../images/background.png')  right 50% no-repeat;
  background-size: 250px;
}

#welcome-section h1 {
  color: #ec5242;
  font-size: 1.5rem;
}

#welcome-info h2 {
  background-image: url(../images/texture-text.jpg);
  background-repeat: repeat;
  background-clip: text;  /* stylelint-disable-line */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.4rem;
}

#definition-info {
  border: 5px solid white;
  background-color: #f8f8f8;
  width: 90%;
}

#date-info {
  color: #595959;
  font-size: 0.9rem;
}

.center-text span {
  font-size: 14px;
}

#date-info span {
  font-size: 1.8rem;
  font-weight: bolder;
}

#main-program {
  background: #272a31 url('../images/background2.png');
  background-size: 15px;
  flex-direction: column;
}

.card {
  background-color: #272a31de;
}

.card:hover {
  border: 2px solid white;
}

.card-body {
  padding: 0;
}

.program-cards {
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 5px 0;
}

.program-cards i {
  color: #ec5242;
  font-size: 25px;
}

.program-cards h3 {
  font-size: 18px;
}

.program-title {
  margin-right: 10px;
  margin-left: 10px;
}

.program-cards p {
  color: white;
  font-size: 14px;
  height: 70px;
  margin: 0;
}

#join-btn button {
  border: none;
  background-color: #fe4e37;
  color: white;
  font-size: 12px;
  padding: 15px 40px;
}

.featured-athlete {
  background: white url('../images/backgroundAthlete.jpg')  left top no-repeat;
  background-size: 40px 45px;
}

.athlete-img {
  width: 90px;
  height: 90px;
}

.info-athlete h3 {
  font-size: 17px;
}

.info-athlete h4 {
  font-size: 12px;
  color: #ec5242;
  font-weight: bolder;
}

.info-athlete hr {
  width: 20px;
  color: black;
  border: 1px solid black;
}

.info-athlete p {
  font-size: 12px;
}

#about-section {
  background: #f8f8f8 url('../images/background.png')  right 50% no-repeat;
  background-size: 200px;
}

#about-section h1 {
  color: #ec5242;
  font-size: 1.2rem;
  font-weight: 900;
}

#welcome-about h2 {
  color: #ec5242;
  font-size: 2.4rem;
}

#about-info {
  background-color: white;
  width: 90%;
  text-align: center;
}

#contact-info {
  width: 80%;
  text-align: center;
}

#logo-container {
  width: 88%;
  max-width: 350px;
}

#logo2 {
  padding: 15px;
  max-width: 220px;
}

#logo-info {
  max-width: 300px;
  font-size: 14px;
}

#previous-info {
  font-size: 14px;
}

#expo-imgs {
  flex-direction: column;
}

.img-container:hover > img {
  filter: none !important;
}

#expo-imgs img {
  filter:
    invert(38%) sepia(99%) saturate(626%) hue-rotate(324deg)
    brightness(94%) contrast(97%);
  width: 280px;
  height: 140px;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 25px;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-in-out;
}

.img-container:hover > .center-text {
  opacity: 0%;
}

.partners-section {
  background-color: #414246;
}

.partners-section > * {
  color: #8d8d8d;
  font-size: 35px;
}

.logos-partners-container a{
  text-decoration: none;
}


.logos-partners {
  color: gray;
}

.logos-partners:hover {
  color: white;
}

#footer-info {
  font-size: 14px;
}

#footer-info span {
  font-size: 20px;
  font-weight: 900;
}

#footer-about {
  background-color: #edefee;
  color: #2e2e2e;
}

#footer-info p {
  font-size: 0.6rem;
}

.half-border {
  background-color: #ec5242;
  border: 2px solid red;
  width: 60px;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 120%;
  }

  #top-header {
    background-color: #272a31;
    height: 40px;
  }

  #bottom-header {
    border: 1px solid;
    box-shadow: 5px 2px #88888836;
    height: 75px;
    background-color: white;
  }

  #logo {
    width: 120px;
  }

  #welcome-section {
    justify-content: center;
    background: #f8f8f8 url('../images/backgroundFull.png')  right 50% no-repeat;
    background-size: 1000px;
    min-height: 100vh;
  }

  #welcome-section h1 {
    font-size: 2rem;
  }

  #welcome-info {
    width: 65%;
    max-width: 750px;
  }

  #welcome-info h2 {
    font-size: 4rem;
    font-weight: 900;
  }

  #definition-info {
    font-size: 0.9rem;
    width: 75%;
    max-width: 600px;
  }

  .program-cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 230px;
  }

  .program-cards p {
    width: auto;
    max-width: 200px;
  }

  #join-btn p {
    color: white;
    text-decoration: underline;
  }

  .athlete-img {
    width: 110px;
    height: 110px;
  }

  #about-section {
    justify-content: space-around;
    background: #f8f8f8 url('../images/backgroundFull.png')  right 80% no-repeat;
    background-size: 900px;
    height: 100vh;
  }

  #welcome-about {
    width: 70%;
    max-width: 750px;
  }

  #welcome-about h2 {
    font-size: 3rem;
    font-weight: 900;
  }

  #about-info {
    font-size: 1.2rem;
    background-color: white;
    width: 70%;
    max-width: 650px;
    text-align: center;
    padding: 20px;
  }

  #expo-imgs {
    flex-direction: row;
    justify-content: center;
  }

  #expo-imgs img {
    width: 320px;
    height: 180px;
  }

  .img-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  #footer-home {
    background-color: #edefee;
    color: #2e2e2e;
  }

  #footer-about {
    background-color: #2e2e2e;
    color: #edefee;
  }
}

@media screen and (min-width: 850px) {
  #btn-header {
    margin-right: 105px;
  }

  #top-header ul {
    margin-right: 105px;
  }
}
