html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#top-header {
  background-color: #272a31;
}

#top-header ul {
  margin-left: 70%;
}

#bottom-header {
  background-color: #f8f8f8;
}

#btn-header {
  border: 3px solid #ec5242 ;
  color: #ec5242;
  padding: 4px 8px;
}

#item-about {
  color: #ec5242;
}

#welcome-section {
  background:  #f8f8f8 url('../images/background.png')  right 50% no-repeat;
  background-size: 200px;
}

#welcome-section h1 {
  color: #ec5242;
  font-size: 1.5rem;
}

#welcome-info h2{
  background-image: url(../images/texture-text.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.4rem;
}

#definition-info {
  border: 5px solid white;
  background-color: #f8f8f8;
  width: 90%;
}

#date-info {
  color: #595959;
  font-size: .9rem;
}

#date-info span {
  font-size: 1.8rem;
  font-weight: bolder;
}

#main-program {
  background:  #272a31 url('../images/background2.png');
  background-size: 15px;
  flex-direction: column;
}

.card {
  background-color: #272a31de;
}

.card-body {
  padding: 0;
}

.program-cards {
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 5px 0;
}

.program-cards i {
  color: #ec5242;
  font-size: 25px;
}

.program-cards h3 {
  font-size: 18px;
}

.program-cards p {
  color: white;
  font-size: 14px;
  width: 200px;
  height: 70px;
  margin: 0;
}

#join-btn button {
  border: none;
  background-color: #fe4e37;
  color: white;
  font-size: 12px;
  padding: 15px 40px;
}

.featured-athlete {
  background:  white url('../images/backgroundAthlete.jpg')  left top no-repeat;
  background-size: 40px 45px;
}

.athlete-img {
  width: 90px;
  height: 90px;
}

.info-athlete h3 {
  font-size: 17px;
}

.info-athlete h4 {
  font-size: 12px;
  color: #ec5242;
  font-weight: bolder;
}

.info-athlete hr {
  width: 20px;
  color: black;
  border: 1px solid black;

}

.info-athlete p {
  font-size: 12px;
}

#about-section {
  background:  #f8f8f8 url('../images/background.png')  right 50% no-repeat;
  background-size: 200px;
}

#about-section h1 {
  color: #ec5242;
  font-size: 1.2rem;
  font-weight: 900;
}

#welcome-about h2{
  color: #ec5242;
  font-size: 2.4rem;
}

#about-info {
  background-color: white;
  width: 90%;
  text-align: center;
}

#contact-info {
  width: 80%;
  text-align: center;
}

#logo-container {
  width: 88%;
}

#logo2 {
  width: 220px;
}

#logo-info {
 font-size: 14px;
}

#previous-info {
  font-size: 14px;
}

#expo-imgs img {
  filter: invert(38%) sepia(99%) saturate(626%) hue-rotate(324deg) 
  brightness(94%) contrast(97%);
  width: 280px;
  height: 140px;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 25px;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text span {
  font-size: 14px;
}

#partners-section {
  background-color: #414246;
}

#partners-section > * {
  color: #8d8d8d;
  font-size: 35px;
}

#footer-info {
  font-size: 18px;
}

#footer-info span {
  font-size: 12px;
}

.half-border {
  background-color: #ec5242;
  border: 2px solid red;
  width: 60px;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 768px) { 
  html {
    font-size: 120%;
  }

  #bottom-header {
    border: 1px solid;
    box-shadow: 5px 2px #88888836; 
    height: 70px;
    background-color: white;
  }

  #logo {
    width: 100px;
  }

  #btn-header {
    margin-right: 90px;
  }

}
