#top-header {
  background-color: #272a31;
}

#top-header ul {
  margin-left: 70%;
}

#logo {
  width: 120px;
}

#bottom-header {
  border: 1px solid;
  box-shadow: 5px 2px #88888836;
  background-color: white;
  height: 75px;
}

#btn-header {
  border: 5px solid #ec5242 ;
  color: #ec5242;
}

#item-about {
  color: #ec5242;
}

#top-logo {
  margin-left: 15%;
  margin-right: 15%;
}

#welcome-section {
  background:  #f8f8f8 url('../images/background.png')  right 80% no-repeat;
  background-size: 200px;
  height: 120vh;
}

#welcome-section h1 {
  color: #ec5242;
}

#welcome-info {
  background-image: url(../images/texture-text.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
}

#definition-info {
  border: 5px solid white;
  background-color: #f8f8f8;
}

#date-info {
  color: #595959;
}

#date-info span {
  font-size: 40px;
  font-weight: bolder;
}

.lato-font {
  font-family: 'Lato', sans-serif;
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
}
